{%load static%}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  
    <link rel="stylesheet" href="{%static 'cate.css'%}">
    
    <script src="https://kit.fontawesome.com/b5f405ef21.js" crossorigin="anonymous"></script>
  
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<!-- <span><img src="qglogo.png" alt=""></span> -->
    <title> Header Specification Table</title> 
   


</head>
<body>
    
    <nav> <div class="logo">
        <div class="logo-name">
            <div class="logo-image">
                <img src="qglogo.png" alt="">
            </div>

            <span class="logo_name">QuestGen</span>
        </div></div>

        <div class="menu-items">
            <div class="menu1">
            <ul class="nav-links">
                <li><a href="admin.html">
                    <i class="uil uil-estate" title="view Dashboard"></i>
                    <span class="link-name">Home</span>
                </a></li>
                
               
                <li><a href="Academic Calendar-S4S6-2023.pdf" target="_blank">
                    <i class="uil uil-calender" title="view Academic Calendar"></i>
                    <span class="link-name" >Calendar</span>
                </a></li>
                
                <li><a href="#" title="view Email notifications">
                    <i class="uil uil-comments"></i>
                    <span class="link-name" >Notifications</span>
                </a></li>
                <li><a href="assign.html" title="Send Notifications to Faculty ">
                    <i class="uil uil-share"></i>
                    <span class="link-name" >Assign Teacher</span>
                </a></li>
            </ul>
            </div><br>
            
            <ul class="logout-mode"><div class="menu2">
                <li><a href="signin.html">
                    <i class="uil uil-signout"></i>
                    <span class="link-name" title="log out">Logout</span>
                </a></li>

                

                
            </li>
            </ul></div>


            
        </div>
    </nav>
    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>

            <a href="#" class="profile-button">
                <img src="profile.png" alt="" >
            </a>
        
             <div class="dropdown">
                <button class="profile-button"> 
                 <i class="fa-solid fa-caret-down fa-lg" style="color:white"></i>
                 </button>
                  <div class="dropdown-content">
                    <a href="#">view profile</a>
                   <a href="#">notifications</a>
                  <a href="#">Sign out</a>
                   </div>
             </div> 
            </div>
            </div>
       
<hr style="height:1px;border-width:0;color:rgb(255, 255, 255)">
        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text"><u>Question Paper Header Specification Form</u></span>
                </div>

                   
                  <form>
                    <table>
                      <tr>
                        <th>University:</th>
                        <td><input type="text" name="university"></td>
                      </tr>
                      <tr>
                        <th>Course:</th>
                        <td><input type="text" name="course"></td>
                      </tr>
                      <tr>
                        <th>Year:</th>
                        <td><input type="text" name="year"></td>
                      </tr>
                      <tr>
                        <th>Semester:</th>
                        <td><input type="text" name="semester"></td>
                      </tr>
                      <tr>
                        <th>Subject:</th>
                        <td><input type="text" name="subject"></td>
                      </tr>
                      <tr>
                        <th>Total Marks:</th>
                        <td><input type="text" name="totalmarks"></td>
                      </tr>
                      <tr>
                        <th>Date of Examination:</th>
                        <td><input type="text" name="examdate"></td>
                      </tr>
                    </table>
                
                    <h2>Note</h2>
                    <table class="note-table">
                      <tr>
                        <td><textarea class="note-input" name="note"></textarea></td>
                      </tr>
                    </table>
                
                    <div class="button-container">
                      <button class="button-59" type="submit">Submit</button>
                      
                    </div>
                  </form>
                
                </body>
                </html>
                